.place__image {
  object-fit: cover;
  margin: 0 40px 0 0; 
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    margin: 0 32px 0 0; 
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
    margin: 0 28px 0 0; 
  }
}

@media (max-width: 660px) {
  .place__image {
    max-width: 48.5%;
    margin: 0 14px 0 0; 
  }
}

@media (max-width: 455px) {
  .place__image {
    max-width: 100%;
    margin: 0; 
  }
}