.container-lead {
  max-width: 984px;
  margin: 56px auto 0;
}

@media (max-width: 1024px) {
  .container-lead{
    max-width: 928px;
    margin: 48px auto 0;
  }
}

@media (max-width: 768px) {
  .container-lead{
    max-width: 768px;
    margin: 48px auto 0;
  }
}

@media (max-width: 320px) {
  .container-lead{
    max-width: 320px;
    margin: 48px auto 0;
  }
}