.intro__text {
	color: #fff;
	font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	margin: 40px 0 0;
}

@media (max-width: 320px) {
	.intro__text {
		font-size: 16px;
		line-height: 1.63;
	}
}