.cover {
  background-image: url("../../images/__background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
  padding: 245px 0;
}


@media (max-width: 1024px) {
  .cover {
    padding: 195px 0;
  }
}

@media (max-width: 768px) {
  .cover {
    padding: 115px 0;
  }
}

@media (max-width: 320px) {
  .cover {
    padding: 33px 0;
  }
}