.cover {
  background-image: url("../../images/__background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 245px 0;
  position: relative;
  cursor: pointer;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.4s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover {
    padding: 195px 0;
  }
}

@media (max-width: 768px) {
  .cover {
    padding: 115px 0;
  }
}

@media (max-width: 320px) {
  .cover {
    padding: 33px 0;
  }
}