.container {
  max-width: 984px;
  margin: 92px auto 0;
}

@media (max-width: 1024px) {
  .container {
    max-width: 928px;
    margin: 92px auto 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    margin: 88px 20px 0 20px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 288px;
    margin: 64px 15px 0 15px;
  }
}